ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
    float: right;
}

li a {
    color: #000;
    display: block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size:14px;
}

li a:hover {
    text-decoration: underline;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#googleImg {
    margin-top:213px;
    margin-bottom:30px;
}

#buttons {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
button {
    height: 25x;
    width: 155px;
}
  